*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    height: 100vh;
    transition: none;  
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
}

p{
    color: #dddddd94;
    font-size: 14px;
}

.tabs {
    max-width: 600px;
    margin: 20px auto;
    margin: 1rem;
/*     border: 1px solid red; */
}

.tab-header {
    display: flex;
}

.tab-btn {
    padding: 10px 20px;
    background-color: var(--background-2);
    border: none;
    cursor: pointer;
    flex: 1;
    transition: 0.3s;
    font-size: 16px;
    color: var(--white);
    
}

.tab-btn:hover {
    background: #ddd;
    color: var(--background);
}

.tab-btn.active {
    background: var(--white);
    color: var(--background);
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: none;
    background-color: #1e1e22;
}

.tab-content.active {
    display: block;
}